Repository Coolegaerne/coolshop-price-match, pull requests merged in 2024-04, with the labels that each got.

#28 Scraper test
  price_match/admin.py
  price_match/migrations/0001_initial.py
  price_match/migrations/0002_config.py
  price_match/migrations/0003_remove_config_id_config_base_url.py
  price_match/migrations/0004_rename_shipping_cost_product_shipping_price_and_more.py
  price_match/models.py
  price_match/utils.py
  requirements.txt
Labels: major, backend, feature

#29 React setup
  .gitignore
  django_backend/manage.py
  django_backend/price_match/__init__.py
  django_backend/price_match/admin.py
  django_backend/price_match/apps.py
  django_backend/price_match/migrations/0001_initial.py
  django_backend/price_match/migrations/0002_config.py
  django_backend/price_match/migrations/0003_remove_config_id_config_base_url.py
  django_backend/price_match/migrations/0004_rename_shipping_cost_product_shipping_price_and_more.py
  django_backend/price_match/migrations/__init__.py
  django_backend/price_match/models.py
  django_backend/price_match/tests.py
  django_backend/price_match/utils.py
  django_backend/price_match/views.py
  django_backend/project_settings/__init__.py
  django_backend/project_settings/asgi.py
  django_backend/project_settings/settings.py
  django_backend/project_settings/urls.py
  django_backend/project_settings/wsgi.py
  django_backend/requirements.txt
  react_frontend/README.md
  react_frontend/package-lock.json
  react_frontend/package.json
  react_frontend/public/favicon.ico
  react_frontend/public/index.html
  react_frontend/public/logo192.png
  react_frontend/public/logo512.png
  react_frontend/public/manifest.json
  react_frontend/public/robots.txt
  react_frontend/src/App.js
  react_frontend/src/index.css
  react_frontend/src/index.js
  react_frontend/tailwind.config.js
Labels: refactor, minor, frontend, backend

#31 Setup API
  django_backend/price_match/views.py
  django_backend/project_settings/urls.py
  django_backend/requirements.txt
Labels: minor, backend

#32 Fixed total price bug and refactored __product_allready_accepted()
  django_backend/price_match/migrations/0005_alter_product_price_alter_product_shipping_price.py
  django_backend/price_match/migrations/0006_alter_product_color_alter_product_ean_and_more.py
  django_backend/price_match/models.py
  django_backend/price_match/utils.py
Labels: minor

#69 Add customer frontend
  react_frontend/src/App.js
  react_frontend/src/components/Form.jsx
  react_frontend/src/index.css
  react_frontend/tailwind.config.js
Labels: minor, frontend
